<%- include('layouts/index'); -%>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                <div class="card" style="border-radius: 2rem;">
                    <div class="card-body p-5 text-center">
                        <div class="my-md-5 pb-5">
                            <form action="http://localhost:3000/api/productos" method="POST">
                                <input type="hidden" name="form" value="1">
                                <div class="form-group">
                                    <input id="title" class="form-control" id="title" name="title" type="text"
                                        placeholder="ingrese nombre del producto" />
                                </div>
                                <div class="form-group">
                                    <input id="price" class="form-control" id="price" name="price" type="text"
                                        placeholder="ingrese precio" />
                                </div>
                                <div class="form-group">
                                    <input id="thumbnail" class="form-control" id="thumbnail" name="thumbnail"
                                        type="text" placeholder="ingrese url" />
                                        <button type="submit" class="btn btn-primary btn-block">Crear Producto</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<%- include('layouts/footer'); -%>