<%- include('layouts/index'); -%>
    <div class="alert alert-danger" role="alert">
        <h4 class="alert-heading">Error!</h4>
        <p>Error trying to login</p>
        <hr>
        <p class="mb-0">Error trace</p>
    </div>
    <%- include('layouts/footer'); -%>