<%- include('layouts/header'); -%>
    <header>
        <div class="alert alert-success" role="alert">
            <span> Hola !</span>
            <div>
                <span>
                    <%= user.username %>
                </span>
                <span><img src="" /></span>

                <span style="float: right ; margin-left: 5px;"> <button onclick="location.href='/logout'"
                        class="btn btn-secondary btn-sm">Logout</button></span>
                <span style="float: right"> <button onclick="location.href='/logout'"
                        class="btn btn-secondary btn-sm">Mi Perfil</button></span>
            </div>
        </div>
    </header>
    </body>

    </html>