<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />

    <link
      rel="canonical"
      href="https://getbootstrap.com/docs/5.0/examples/checkout/"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css"
    />
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
      integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ=="
      crossorigin="anonymous"
    ></script>
    <script src="/socket.io/socket.io.js"></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.0/jquery.min.js"
    ></script>

    <style>
      .bd-placeholder-img { font-size: 1.125rem; text-anchor: middle;
      -webkit-user-select: none; -moz-user-select: none; user-select: none; }
      @media (min-width: 768px) { .bd-placeholder-img-lg { font-size: 3.5rem; }
      }
    </style>

    <title>Coderhouse</title>
  </head>

  <body>
    {{#if user}}
      <header>
        <div class="alert alert-success" role="alert">
          <div class="container-fluid">
            <div class="row">
              <div class="col-4">
                <span>Hola {{user.username}}!</span>
              </div>
              <div class="col-8">
                <button
                  onclick="location.href='/chat/{{user.email}}'"
                  class="btn btn-secondary btn-sm"
                >Mis Chats</button>
                <button
                  onclick="location.href='/chat'"
                  class="btn btn-secondary btn-sm"
                >Chat</button>
                <button
                  onclick="location.href='/carrito'"
                  class="btn btn-secondary btn-sm"
                >Mi Carrito</button>
                <button
                  onclick="location.href='/profile'"
                  class="btn btn-secondary btn-sm"
                >MiPerfil</button>
                <button
                  onclick="location.href='/productos'"
                  class="btn btn-secondary btn-sm"
                >Productos</button>
                <button
                  onclick="location.href='/logout'"
                  class="btn btn-secondary btn-sm"
                >Logout</button>
              </div>
            </div>
          </div>
        </div>
      </header>
    {{/if}}
    <div class="container">
      {{{body}}}
    </div>
  </body>

</html>