<div id="fb-root"></div>
<script async defer crossorigin="anonymous"
    src="https://connect.facebook.net/es_LA/sdk.js#xfbml=1&version=v11.0&appId=496117064774752&autoLogAppEvents=1"
    nonce="LSQ0q73z"></script>
<%- include('layouts/index'); -%>
    <div class="container" id="form-container">
        <div class="row justify-content-center">
            <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                <div class="card" style="border-radius: 2rem;">
                    <div class="card-body p-5 text-center">
                        <div class="fb-login-button" data-width="" data-size="large" data-button-type="continue_with"
                            data-layout="default" data-auto-logout-link="false" data-use-continue-as="true"
                            onlogin="location.href='/auth/fb'"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container" id="div-table-container">
    </div>
    <%- include('layouts/footer'); -%>